
<div class = 'container-fluid d-flex flex-wrap' id="activities-div">

{{#each this}}
    
        <div id="activities-div" class="col-12 col-md-3"><button name ="activityBtn" class ='activities-btn' data-id ="{{id}}"> {{activity_name}}</button></div>
  
{{/each}}
</div>

                      