<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Profile
  </h2>
  <form class="edit-profile-form">
    <div>
      <input name="post-activity" type="text" value="{{}}" />
      <span>({{}})</span>
    </div>
    <button type="submit">Save profile</button>
    <button type="button" class="delete-profile-btn">Delete profile</button>
  </form>
</article>
{{#if loggedIn}}
<form class="profile-form">
  <form>
    
  </form>

  <div>
    <button type="submit">Add Profile update</button>
  </div>
</form>
{{/if}}
{{}}
{{#if loggedIn}}
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
{{/if}}