<--! need to add info pertaining to what will be in the post....How will we determine between past/present posts?

<article class="post">
      <div class="title postText">
        <a href="{{username}}" target="_blank">{{title}}</a>
    
      </div>
      <div class="meta">
        {{activity}}
      </div>
    </article>

  