<--! need to add info pertaining to what will be in the post....How will we determine between past/present posts?

<article class="post">
      <div class="title postText">
        <a href="{{user_id}}" target="_blank">{{first_name}}{{last_name}}</a>

      </div>
      <div class="meta">
        {{activity_name}}
      </div>
    </article>

  