<section>
    {{#if activities.length }}
        <h2> Activities </h2>
        
        
              
                {{> activities-boxes activities}}
           
        
       
    {{/if}}

</section>