<section id="User Activity" class ='container-fluid'>

    <h2 id="post-activity-title">Post an activity</h2>
    <form id="post-activity-form">
   <div class="form-group">
      <label for="inputCategory">Activity Category</label>
      <select id="activityCategory" class="form-control">
        <option selected>Choose...</option>
        
            {{#each activities}}
                <option>
                    {{activity_name}}
                </option>
            {{/each}}
        
      </select>
    </div>
    <div class="form-group" >
    <label for="inputAddress">Location Name</label>
    <input type="text" class="form-control" id="activityLocation" placeholder="Zilker Park">
  </div>
  <div class="form-group">
    <label for="inputAddress">Activity Address</label>
    <input type="text" class="form-control" id="activityAddress" placeholder="1234 Main St">
  </div>
  <div class="form-row">
    <div class="form-group col-lg-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="activityCity">
    </div>
    <div class="form-group col-lg-6">
      <label for="inputState">State</label>

       <input type="text" class="form-control" id="activityState">
      </select>
    </div>
  </div>
  <div class="form-group">
  </div>
  <button id="addPostBtn" type="submit" class="btn btn-primary">Add</button>
</form>



</section>



<section id="active-activities" class="container-fluid mt-5 d-flex flex-wrap">
    {{#if activities.length }}
    
     <h2 id="post-activity-title">Active Posts</h2>   
        
        
              
                {{> activities-boxes activities}}
        
       
    {{/if}}

    
<script src="../javascript/add-activity.js"></script>
<script src="../javascript/dashboard.js"></script>
</section>

