<section>
    {{#if activities.length }}
        <h2> Activities </h2>
        <div id="activities-div">
        
              
                {{> activities-boxes activities}}
           
        </div>
       
    {{/if}}

<script src="../javascript/dashboard.js"></script>
</section>