<style>
body {
  
  background-color: red ;
  animation-name: example;
  animation-duration: 125s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   {background-image: url('../img/photo-1533174072545-7a4b6ad7a6c3.avif');
        background-position: center;
        background-repeat: no-repeat; 
        background-size: cover;   }

  25%  {background-image: url('../img/photo-1551632811-561732d1e306.avif');
        background-position: center;
        background-repeat: no-repeat; 
        background-size: cover;}
  
  40%{ 
      background-image: url('../img/2peopleToast.webp');
        background-position: center;
        background-repeat: no-repeat; 
        background-size: cover;
  }

  50%  {background-image: url('../img/photo-1609859682240-6860cf3d99d5.avif');
        background-position: center;
        background-repeat: no-repeat; 
        background-size: cover;
         }
  100% {background-image: url('../img/photo-1533174072545-7a4b6ad7a6c3.avif');
        background-position: center;
        background-repeat: no-repeat; 
        background-size: cover; }
}
</style>










<h1 style = "font-size: 65px; color: white;  font-weight: bold;  text-shadow: 1px 1px 10px black; text-align: center">MeetFriends</h1>

<div class="contaier">
  <div class="row justify-content-around px-5 py-5">
    <div class="col-4">
      <form class="login-form bg-light bg-opacity-25 rounded shadow px-4 py-4">
        <div class="mb-3">
          <label for="email-login" class="form-label">Email address</label>
          <input type="text" class="form-control" id="email-login" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="password-login" class="form-label">Password</label>
            <input type="password" class="form-control" id="password-login">
         </div>
          <button type="submit" class="btn btn-info">Login</button>
        <div id="sign-up" class="mb-3 form-text"> Don't have an account? <a href="/signup" class="link-info"> Sign up here!</a></div>
      </form>
    </div>

    <div id="meet-friends-description" class="col-6  bg-opacity-25 rounded shadow ">
  
        <p>Here at MeetFriends we know socializing can be a little difficult some times. By signing up and creating your account, you will have access to connect with people that share your interest on a holesome and platonic level.</p>
    </div>

  <div class="row px-5 py-5">
  </div>
</div>
<script src="../javascript/login.js"></script>