<h1 style = "font-size: 65px; color: white;  font-weight: bold;  text-shadow: 1px 1px 10px black; text-align: center">MeetFriends</h1>

<div class="contaier">
  <div class="row justify-content-around px-5 py-5">
    <div class="col-4">
      <form class="login-form bg-light bg-opacity-25 rounded shadow px-4 py-4">
        <div class="mb-3">
          <label for="email-login" class="form-label">Email address</label>
          <input type="text" class="form-control" id="email-login" >
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="password-login" class="form-label">Password</label>
            <input type="password" class="form-control" id="password-login">
         </div>
          <button type="submit" class="btn btn-info login-form">Login</button>
        <div id="sign-up" class="mb-3 form-text"> Don't have an account? <a href="/signup" class="link-info"> Sign up here!</a></div>
      </form>
    </div>

    <div class="col-6 bg-light bg-opacity-25 rounded shadow">
      <div id="meet-friends-description" class="mb-3 px-4 py-4">
        Here at MeetFriends we know socializing can be a little difficult some times. By signing up and creating your account, you will have access to connect with people that share your interest on a holesome and platonic level.
      </div>
      <div class="text-center">
        <img class="img-thumbnail" style="max-height: 75%; max-width: auto;"  src="../img/2peopleToast.webp" alt="two people toasting">
      </div>
    </div>

  </div>

  <div class="row px-5 py-5">
  </div>
</div>
