<h1 style = "font-size: 65px; color: white;  font-weight: bold;  text-shadow: 1px 1px 10px black; text-align: center">MeetFriends</h1>

<div class="contaier">
  <div class="row justify-content-around px-5 py-5">
    <form class="login-form col-4 bg-light bg-opacity-25 rounded shadow">
      <h3 class="text-center">Sign In</h2>
      <div class="mb-3">
        <label for="email-login" class="form-label">Email address</label>
        <input type="text" class="form-control" id="password-login" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="password-login" class="form-label">Password</label>
        <input type="password" class="form-control" id="password-login">
      </div>
      <button type="submit" class="btn btn-info">Login</button>
      <div id="sign-up" class="mb-3 form-text"> Don't have an account? <a href="/signup" class="link-info"> Sign up here!</a></div>
    </form>

    <div class="col-6 bg-light bg-opacity-25 rounded shadow">
      <div id="meet-friends-description" class="mb-3">
        Here at MeetFriends we know socializing can be a little difficult some times. By signing up and creating your account, you will have access to connect with people that share your interest on a holesome and platonic level.
      </div>
      <div>
        <img class="img"  src="..public/img/2peopleToast.webp" alt="two people toasting">
      </div>
    </div>

  </div>

  <div class="row px-5 py-5">
  </div>
</div>