<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../public/img/favicon_io (6)/favicon.png"/>
    <link rel="stylesheet" href="../public/stylesheets/style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Meet Friends</title>
</head>

<body>
  <ul class="nav justify-content-end navBar">
    <li class="nav-item">
      <a class="nav-link active text-start profileTitle" href="/">Meet Friends Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link profileNav" href="/dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link profileNav" href="/logout">Logout</a>
    </li>
  </ul>
</header> 
<div class="container profileView">
  <div class="row">
    <div class="col-lg-6">
      <div class="card" style="width: 40rem;">
            <img class="card-img-top" src="..." alt="Profile Image">
            <div class="card-body">   
              <!--Profile info fill in proper terms-->            
          <h3 class="card-subtitle mb-2 profileName">{{user.firstname}}{{user.lastname}}</h3>
          <p class="card-text profileDet">Location:{{user.location}}</p>
          <p class="card-text profileDet">Age:{{user.age}}</p>
          <p class="card-text profileDet">Interest:{{user.interest}}</p>
        </div>
      </div>
    </div>
    <div class="container profilePost">
      <div class="row">
        <div class="col-lg-4">
         <h2 class="profilePostText">Active Posts</h2>
         <ol class="post-list postText">
          {{#each posts as |post|}}
          <li>
            {{> post-info post}}
          </li>
          {{/each}}
        </ol>
        </div>
        <div class="col-lg-4">
         <h2 class="profilePostText">Success!!</h2>
         <ol class="past-post-list postText">
          {{#each posts as |post|}}
          <li>
            {{> post-info post}}
          </li>
          {{/each}}
        </ol>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>