:root {
    --MFyellow: #ecde0a;
    --MFBlue: #0ee0c5;
    --MFwhite: whitesmoke;
    --MFshadow: black;
  }

/* body { 
background: rgb(236,222,10);
background: linear-gradient(90deg, rgba(236,222,10,0.48783263305322133) 35%, rgba(14,224,197,0.6783088235294117) 82%);
} */



.profileTitle, .profilePostText {
    color: var(--MFBlue);
    text-shadow: 1px 1px 5px var(--MFshadow);

    text-decoration: none;
    font-size: 35px;
    font-weight: bolder;
}

.profileNav {
    color: var(--MFBlue);
    text-shadow: 1px 1px 5px var(--MFshadow);
    text-decoration: none;
    font-size:30px;
    font-weight: bolder;
}






/* -------------------------------------------------------------------------------------------- */
#signup-form{
    background-color: white;
    color: black;
    border-radius: 2%;
    border: 2px solid yellow;
    box-shadow: 10px 10px 10px rgb(10, 228, 10) ;
}

.activities-btn{
    
    border-radius: 5%;
    padding: 1%;
    font-size: 40px;
    text-align: center;
    width: 100%;
    margin: 1%;
}

.activities-btn:hover{
    border: 1px solid black;
    border-radius: 10%;
    padding: 1%;
    font-size: 40px;
    text-align: center;
    margin: 1%;
    transform: scale(108%);
}
.card-container{
    width: 10px;
}
.card-div{
    padding: 0px;
    height: 500px;
    border: 1px solid black;

    z-index: 0;
  
}

.card-cover{
    position: absolute;
    width: 439.8px;
    height: 500px;
    z-index: 50;
}

.card{
    z-index: 0;
}

/* .card-div:hover{
    transform: scale(110%);
    position: fixed;
    left: 5%;
    top: 5%;
    z-index: 99;
    width:50%;
    background-color: black;
    

} */